@import 'variables';
@import 'global';
@import 'header';
@import 'about';
@import 'projects';
@import 'footer';

// Базові стилі
body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header__title {
  font-size: 1.8rem;
}

.header__nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.header__nav a {
  text-decoration: none;
  color: #007bff;
}
